 <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-info bg-info">
           {% if user.is_authenticated %}
        <div class="container">
            <a class="navbar-brand text-white" href="{% url 'dashboard-index' %}">PsrsInventory</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="{% url 'dashboard-index' %}">Dashboard <span
                                class="sr-only">(current)</span></a>
                    </li>
                </ul>

               <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="{% url 'user-profile' %}">{{ user.username }} Profile <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'user-logout' %}">Logout</a>
                    </li>
                </ul>
                {% else %}

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="{% url 'user-register' %}">Register <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'user-login' %}">Login</a>
                    </li>

                </ul>
                 {% endif %}


            </div>
        </div>
    </nav>
    <!--End Navbar-->