 <!--Topside-->
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        Information
                    </div>
                    <div class="card-body">
                        <marquee behavior="" direction="">
                            <h3 class="my-4">This is the Information</h3>
                        </marquee>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        Statistics
                    </div>

                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-3">
                                <a class="text-decoration-none text-dark" href="{% url 'dashboard-equipment'%}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Equipment <i class="fas fa-box"></i></h4>
                                        <h3>4</h3>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3">
                                <a class="text-decoration-none text-dark" href="{% url 'dashboard-staff'%}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Staff <i class="fas fa-users"></i></h4>
                                        <h3>4</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a class="text-decoration-none text-dark" href="{% url 'dashboard-product'%}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Products <i class="fas fa-box"></i></h4>
                                        <h3>4</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a class="text-decoration-none text-dark" href="{% url 'dashboard-order'%}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Orders <i class="fas fa-shipping-fast"></i></h4>
                                        <h3>4</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Topside-->