{% extends 'partials/base.html' %}
 {% block title %}Equipment Page {% endblock %}
 {% load crispy_forms_tags %}
 {% block content%}
 {% include 'partials/topnav.html' %}
<!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">
                {% for message in messages %}
                {% if message %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                 {% endif %}
                 {% endfor %}

                <div class="border bg-white p-3">
                    <h4>Add Equipments</h4>
                    <hr>
                    <form method="POST">
                         {% csrf_token %}
                         {{ form|crispy }}
                        <input class="btn btn-success btn-block" type="submit" value="Add Equipment">

                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">

                            <th scope="col">Name of User</th>
                            <th scope="col">Type</th>
                            <th scope="col">Make</th>
                            <th scope="col">Serial Number</th>
                            <th scope="col">Status</th>
                            <th scope="col">MAC address</th>
                            <th scope="col">Type of HDD</th>
                            <th scope="col">Size of HDD</th>
                            <th scope="col">Serial Number Of HDD</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for equipment in equipments %}
                        <tr>

                            <td>{{ equipment.name}}</td>
                            <td>{{ equipment.type}}</td>
                            <td>{{ equipment.make}}</td>
                            <td>{{ equipment.seno}}</td>
                            <td>{{ equipment.status}}</td>
                            <td>{{ equipment.mac }}</td>
                            <td>{{ equipment.typ}}</td>
                            <td>{{ equipment.size}}</td>
                            <td>{{ equipment.sno}}</td>

                            <td>
                                <a class="btn btn-info btn-sm" href="{% url 'dashboard-equipment-update' equipment.id %}">Edit</a>
                                <a class="btn btn-danger btn-sm" href=" {% url 'dashboard-equipment-delete' equipment.id %}">Delete</a>
                            </td>
                        </tr>

                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}