 {% extends 'partials/base.html' %}
 {% block title %}Product Page {% endblock %}
 {% load crispy_forms_tags %}
 {% block content%}
 {% include 'partials/topnav.html' %}
<!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">
                {% for message in messages %}
                {% if message %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                 {% endif %}
                 {% endfor %}

                <div class="border bg-white p-3">
                    <h4>Add Products</h4>
                    <hr>
                    <form method="POST">
                         {% csrf_token %}
                         {{ form|crispy }}
                        <input class="btn btn-success btn-block" type="submit" value="Add Product">

                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">

                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Activity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>

                            <td>{{ item.name}}</td>
                            <td>{{ item.category}}</td>
                            <td>{{ item.quantity}}</td>
                            <td>
                                <a class="btn btn-info btn-sm" href="{% url 'dashboard-product-update' item.id %}">Edit</a>
                                <a class="btn btn-danger btn-sm" href=" {% url 'dashboard-product-delete' item.id %}">Delete</a>
                            </td>
                        </tr>

                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

    </div>



    <!--End Table-->

 {% endblock %}