{% extends 'partials/base.html' %}
{% block title %}Logout Page {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border bg-white p-3">
                     <h3>Logout Page</h3>
                      <hr>
                     <div class="alert alert-danger">
                        <h4>You have log out</h4>
                   </div>

                    <a href="{% url 'user-login' %}">LogIn</a>
             </div>
           </div>
        </div>
    </div>
 {% endblock %}